@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');


.greeting{
  font-family: 'Shadows Into Light', cursive;
}

/* .landing{
  background: #e6e6e6;
  color: #313131;
  width: 70%;
  padding: 3rem;
  margin-left: 1rem;
  margin-top: 13rem;
} */